h1 {
        color: #299830;
        font-size: 24px;
        font-weight: 400;
        margin: 0;
        padding: 0;
}

p{
    color: #666;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}